In [263]:
# Import relevant libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

In [264]:
# Import NICS gun data & US census data.
# We will name the NICS gun dataset 'df1'.
# We will name the Census dataset 'df2'.
df1 = pd.read_csv('gun_data.csv')
df2 = pd.read_csv('us_census_data.csv')

In [265]:
# Initia
df2.head()

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",NaN,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010",NaN,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",NaN,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%

In [266]:
df2.drop(['Fact Note'], axis=1, inplace=True)

In [267]:
df2 = df2.transpose()

In [268]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2...","Population, percent change - April 1, 2010 (es...","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, ...","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016,...","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2...","Persons 65 years and over, percent, April 1, 2010",...,NaN,Value Flags,-,D,F,FN,NaN,S,X,Z
Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,13.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,7.70%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,13.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,14.40%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [269]:
df2.reset_index(level=0,inplace=True)
df2.head()

,index,0,1,2,3,4,5,6,7,8,...,75,76,77,78,79,80,81,82,83,84
0,Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2...","Population, percent change - April 1, 2010 (es...","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, ...","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016,...","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2...",...,NaN,Value Flags,-,D,F,FN,NaN,S,X,Z
1,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [270]:
df2.columns = df2.iloc[0]
df2.head()

,Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,nan,Value Flags,-,D,F,FN,nan,S,X,Z
0,Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2...","Population, percent change - April 1, 2010 (es...","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, ...","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016,...","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2...",...,NaN,Value Flags,-,D,F,FN,NaN,S,X,Z
1,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [271]:
df2.drop(0,inplace=True)

In [272]:
df2.head()

,Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,nan,Value Flags,-,D,F,FN,nan,S,X,Z
1,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,California,"39,250,017","37,254,522",5.40%,"37,253,956",6.30%,6.80%,23.20%,25.00%,13.60%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [273]:
df2.rename(index=str, columns={'Fact':'state'}, inplace=True)
df2.head(1)

,state,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,nan,Value Flags,-,D,F,FN,nan,S,X,Z
1,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,California,"39,250,017","37,254,522",5.40%,"37,253,956",6.30%,6.80%,23.20%,25.00%,13.60%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [274]:
droptest = df2.drop(df2.loc[:, 'All firms, 2012':'Z'],axis=1)

In [275]:
droptest.head()

,state,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,"Total retail sales per capita, 2012","Mean travel time to work (minutes), workers age 16 years+, 2011-2015","Median household income (in 2015 dollars), 2011-2015","Per capita income in past 12 months (in 2015 dollars), 2011-2015","Persons in poverty, percent","Total employer establishments, 2015","Total employment, 2015","Total annual payroll, 2015 ($1,000)","Total employment, percent change, 2014-2015","Total nonemployer establishments, 2015"
1,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,"$12,145",24.4,"$43,623","$24,091",17.10%,"98,540","1,634,391","67,370,353",1.90%,"322,025"
2,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,"$14,320",19,"$72,515","$33,413",9.90%,"20,907","267,999","15,643,303",0.40%,"55,521"
3,Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,...,"$12,927",24.8,"$50,255","$25,848",16.40%,"136,352","2,295,186","102,671,393",2.40%,"451,951"
4,Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,...,"$12,483",21.6,"$41,371","$22,798",17.20%,"65,175","1,003,113","39,451,191",1.10%,"198,380"
5,California,"39,250,017","37,254,522",5.40%,"37,253,956",6.30%,6.80%,23.20%,25.00%,13.60%,...,"$12,665",28,"$61,818","$30,318",14.30%,"908,120","14,325,377","856,954,246",3.50%,"3,206,958"

In [291]:
# Replace df2 with just the columns we are interested in.
df2 = df2[['state',
           'Population estimates, July 1, 2016,  (V2016)',
           'White alone, percent, July 1, 2016,  (V2016)',
           'Black or African American alone, percent, July 1, 2016,  (V2016)',
           'American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)',
           'Asian alone, percent, July 1, 2016,  (V2016)',
           'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
           'Two or More Races, percent, July 1, 2016,  (V2016)',
           'Hispanic or Latino, percent, July 1, 2016,  (V2016)',
           'High school graduate or higher, percent of persons age 25 years+, 2011-2015',
           'Bachelor\'s degree or higher, percent of persons age 25 years+, 2011-2015',
           'Median household income (in 2015 dollars), 2011-2015',
           'Per capita income in past 12 months (in 2015 dollars), 2011-2015'
           ]]

In [292]:
df2.head()

,state,"Population estimates, July 1, 2016, (V2016)","White alone, percent, July 1, 2016, (V2016)","Black or African American alone, percent, July 1, 2016, (V2016)","American Indian and Alaska Native alone, percent, July 1, 2016, (V2016)","Asian alone, percent, July 1, 2016, (V2016)","Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016, (V2016)","Two or More Races, percent, July 1, 2016, (V2016)","Hispanic or Latino, percent, July 1, 2016, (V2016)","High school graduate or higher, percent of persons age 25 years+, 2011-2015","Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015","Median household income (in 2015 dollars), 2011-2015","Per capita income in past 12 months (in 2015 dollars), 2011-2015"
1,Alabama,"4,863,300",69.30%,26.80%,0.70%,1.40%,0.10%,1.60%,4.20%,84.30%,23.50%,"$43,623","$24,091"
2,Alaska,"741,894",66.10%,3.80%,15.20%,6.30%,1.30%,7.30%,7.00%,92.10%,28.00%,"$72,515","$33,413"
3,Arizona,"6,931,071",83.30%,4.90%,5.40%,3.40%,0.30%,2.80%,30.90%,86.00%,27.50%,"$50,255","$25,848"
4,Arkansas,"2,988,248",79.40%,15.70%,1.00%,1.60%,0.30%,2.00%,7.30%,84.80%,21.10%,"$41,371","$22,798"
5,California,"39,250,017",72.70%,6.50%,1.70%,14.80%,0.50%,3.80%,38.90%,81.80%,31.40%,"$61,818","$30,318"

In [293]:
# Rename verbose column names to shorter names.
df2.rename(index=str,
           columns={'Population estimates, July 1, 2016,  (V2016)':'pop_2016',
                    'White alone, percent, July 1, 2016,  (V2016)':'white_2016',
                    'Black or African American alone, percent, July 1, 2016,  (V2016)':'black_2016',
                    'American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)':'native_2016',
                    'Asian alone, percent, July 1, 2016,  (V2016)':'asian_2016',
                    'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)':'native_pacific_2016',
                    'Two or More Races, percent, July 1, 2016,  (V2016)':'2_or_more_2016',
                    'Hispanic or Latino, percent, July 1, 2016,  (V2016)':'hispanic_2016',
                    'High school graduate or higher, percent of persons age 25 years+, 2011-2015':'hs_grad_2011_2015',
                    'Bachelor\'s degree or higher, percent of persons age 25 years+, 2011-2015':'ba_grad_2011_2015',
                    'Median household income (in 2015 dollars), 2011-2015':'med_income_2011_2015',
                    'Per capita income in past 12 months (in 2015 dollars), 2011-2015':'capita_income_2011_2015'
                   },
           inplace=True)

In [294]:
df2.head()

,state,pop_2016,white_2016,black_2016,native_2016,asian_2016,native_pacific_2016,2_or_more_2016,hispanic_2016,hs_grad_2011_2015,ba_grad_2011_2015,med_income_2011_2015,capita_income_2011_2015
1,Alabama,"4,863,300",69.30%,26.80%,0.70%,1.40%,0.10%,1.60%,4.20%,84.30%,23.50%,"$43,623","$24,091"
2,Alaska,"741,894",66.10%,3.80%,15.20%,6.30%,1.30%,7.30%,7.00%,92.10%,28.00%,"$72,515","$33,413"
3,Arizona,"6,931,071",83.30%,4.90%,5.40%,3.40%,0.30%,2.80%,30.90%,86.00%,27.50%,"$50,255","$25,848"
4,Arkansas,"2,988,248",79.40%,15.70%,1.00%,1.60%,0.30%,2.00%,7.30%,84.80%,21.10%,"$41,371","$22,798"
5,California,"39,250,017",72.70%,6.50%,1.70%,14.80%,0.50%,3.80%,38.90%,81.80%,31.40%,"$61,818","$30,318"

In [295]:
df2.dtypes

0
state                      object
pop_2016                   object
white_2016                 object
black_2016                 object
native_2016                object
asian_2016                 object
native_pacific_2016        object
2_or_more_2016             object
hispanic_2016              object
hs_grad_2011_2015          object
ba_grad_2011_2015          object
med_income_2011_2015       object
capita_income_2011_2015    object
dtype: object

In [296]:
# Remove commas and dollar signs in preparation to convert string columns to numbers.
df2['pop_2016'] = df2['pop_2016'].str.replace(',','')
df2['med_income_2011_2015'] = df2['med_income_2011_2015'].str.replace('$', '').str.replace(',','')
df2['capita_income_2011_2015'] = df2['capita_income_2011_2015'].str.replace('$', '').str.replace(',','')

In [298]:
df2.head()

,state,pop_2016,white_2016,black_2016,native_2016,asian_2016,native_pacific_2016,2_or_more_2016,hispanic_2016,hs_grad_2011_2015,ba_grad_2011_2015,med_income_2011_2015,capita_income_2011_2015
1,Alabama,4863300,69.30%,26.80%,0.70%,1.40%,0.10%,1.60%,4.20%,84.30%,23.50%,43623,24091
2,Alaska,741894,66.10%,3.80%,15.20%,6.30%,1.30%,7.30%,7.00%,92.10%,28.00%,72515,33413
3,Arizona,6931071,83.30%,4.90%,5.40%,3.40%,0.30%,2.80%,30.90%,86.00%,27.50%,50255,25848
4,Arkansas,2988248,79.40%,15.70%,1.00%,1.60%,0.30%,2.00%,7.30%,84.80%,21.10%,41371,22798
5,California,39250017,72.70%,6.50%,1.70%,14.80%,0.50%,3.80%,38.90%,81.80%,31.40%,61818,30318

In [299]:
df2['pop_2016'] = df2['pop_2016'].astype('int64')
df2['med_income_2011_2015'] = df2['med_income_2011_2015'].astype('float64')
df2['capita_income_2011_2015'] = df2['capita_income_2011_2015'].astype('float64')

In [301]:
df2.dtypes

0
state                       object
pop_2016                     int64
white_2016                  object
black_2016                  object
native_2016                 object
asian_2016                  object
native_pacific_2016         object
2_or_more_2016              object
hispanic_2016               object
hs_grad_2011_2015           object
ba_grad_2011_2015           object
med_income_2011_2015       float64
capita_income_2011_2015    float64
dtype: object

In [303]:
# Convert cells with 'Z' to 0
df2.loc[df2['native_pacific_2016'] == 'Z','native_pacific_2016'] = 0

In [287]:
# Function to convert percentage cells in string datatype to float64
def p2f(x):
    return x.str.replace('%','').astype('float64')/100

In [304]:
# Iterate through coluns to convert string percentage to numbers.
for col in df2.loc[:, 'white_2016':'ba_grad_2011_2015']:
  df2[col] = p2f(df2[col])

In [306]:
df2.dtypes

0
state                       object
pop_2016                     int64
white_2016                 float64
black_2016                 float64
native_2016                float64
asian_2016                 float64
native_pacific_2016        float64
2_or_more_2016             float64
hispanic_2016              float64
hs_grad_2011_2015          float64
ba_grad_2011_2015          float64
med_income_2011_2015       float64
capita_income_2011_2015    float64
dtype: object

In [307]:
df2.head()

,state,pop_2016,white_2016,black_2016,native_2016,asian_2016,native_pacific_2016,2_or_more_2016,hispanic_2016,hs_grad_2011_2015,ba_grad_2011_2015,med_income_2011_2015,capita_income_2011_2015
1,Alabama,4863300,0.693,0.268,0.007,0.014,0.001,0.016,0.042,0.843,0.235,43623.0,24091.0
2,Alaska,741894,0.661,0.038,0.152,0.063,0.013,0.073,0.070,0.921,0.280,72515.0,33413.0
3,Arizona,6931071,0.833,0.049,0.054,0.034,0.003,0.028,0.309,0.860,0.275,50255.0,25848.0
4,Arkansas,2988248,0.794,0.157,0.010,0.016,0.003,0.020,0.073,0.848,0.211,41371.0,22798.0
5,California,39250017,0.727,0.065,0.017,0.148,0.005,0.038,0.389,0.818,0.314,61818.0,30318.0

In [311]:
df2['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)